body{
  color: rgb(8, 127, 148);
}
#todo-error{
  color: red;
  font-size: 2em;
}
#bg-image{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100vh;
  min-height: 100vh;
}
#check-boxes{
  float: left;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: column;
}
#weather-bar{
  display: block;
  top: 0;
  position: fixed;
  
}
#weather-card{
  display: block;
  display: flex;
  align-items: flex-start;
justify-content: flex-end;
}
#quote-card{
  display: block;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.75);
  position: fixed;
  bottom: 0;
  max-width: 700px;
  color: black;
}

#greeting{
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: fixed;
 }
/* #todo-list{
 float: left;
 align-items: flex-start;
 justify-content: flex-start;
} */
#clock{
   margin-top: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: fixed;

}
#todos{
  display: flex;
  flex-direction: row;
}